.container{
  position: absolute;
  width: 45vw;
  min-height: 280px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  top: 50px;
  right: 15px;
  z-index: 5;
  border-radius: 5px;
  overflow: scroll;

  .cartItem{
    height: 240px;
    display: flex;
    flex-direction: column;
    
  }
  .total{
    text-align: end;
    padding: 15px 0;
    font-size: 36px;
  }
  .checkoutBtn{
    padding: 15px;
    color: white;
    font-size: 24px;
    background-color:black;
    width:50%;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}